
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "";

    string message = ViewData["message"] as string;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Login Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Krennova pvt.ltd">
    <meta name="description" content="This project is about PMS(Project Management System)">
    <meta name="robots" content="all">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/login.css" rel="stylesheet" />

</head>
<body>
<div class="login-form forgot-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-div">
                    <div class="panel-body">
                        <div class="back-arrow-container">
                            <a href="~/Account/Login" id="panel-button" class="mdl-button mdl-button--icon collapsed">
                                <i class="fa fa-angle-left back-arrow"></i>
                            </a>
                        </div>
                        <div class="heading">  
                            @*<i class="fa fa-lock fa-4x"></i>*@
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("SendInvitationLinkAsync", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "client", data_toggle = "validator" }))
                            {
                                <div class="form-group">
                                    <input id="email" name="Email" placeholder="email address" class="form-control" type="email" autocomplete="off" required>
                                    <label for="email" class="floating">
                                        @*<span class="icon">
                                            <i class="glyphicon glyphicon-envelope color-blue"></i>
                                        </span>*@
                                            Enter Email Address
                                    </label>
                                </div>

                                @*if (!string.IsNullOrEmpty(message))
                                    {
                                        <div class="form-group">
                                            <div class="input-group">
                                                <p>@message</p>
                                            </div>
                                        </div>
                                    }*@

                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>

    <script>
        $(document).ready(function () {
            var message = '@message';
            if (message == "Mail send") {
                $("#mailSendModal").modal('toggle');
                $("#mailSendModal").modal('show');
            } else if (message == "Invalid email address") {
                $("#invalidEmailModal").modal('toggle');
                $("#invalidEmailModal").modal('show');
            }
        });
    </script>

    <!-- Mail send Modal -->
    <div class="modal fade" id="mailSendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-dialog-centered" role="document">


            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Mail Send</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>We have successfully send an email to your addres.</p>
                    <p>Please click <a href="https://www.gmail.com" target="_blank">here</a> to open gmail.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Mail send Modal -->

    <div class="modal fade" id="invalidEmailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-dialog-centered" role="document">


            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Invalid</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Sorry! Your email is not in our database please try another.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>

